.navbarhead {
    display: flex;
    background-color: rgb(53, 53, 53);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.jobs {
    padding-left: 40rem;
}

h2 {
    padding-top: 2rem;
    margin-left: 10px;
    color: rgb(216, 215, 215);
}

span {
    color: rgb(173, 93, 39);
}

h3 {
    align-items:end;
    padding: 2rem;
    color: rgb(207, 204, 204);
}

a {
    text-decoration: none;
}
h3:hover {
    color: wheat;
    transition-duration: 1s;
}

.logo {
    height: 100px;
    width: 100px;
    padding-left: 50px;
    padding-bottom: 20px;
}