.item-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }

.item-box {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
    background-color: #fff;
  }